img {
    width: 500px;
}

.container{
    max-width: 900px;
}

#imagen-cuatro{
    width: 400px;
}

.creditos a{
    text-decoration: none;
    color: black;
}
#button-up {
    width: 60px;
    height: 60px;
    background: rgb(70 162 253);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255 255 255);
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid rgb(0 0 0 / 0%);
    transition: all 300ms ease;
    transform: scale(0);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}
